body{
    /* background-image: linear-gradient(red, rgb(226, 139, 200)); */
    background-repeat: no-repeat;
    /* background-size: 100%; */
    width: auto;
    height: 100vh;
}
.main_outside{
    height: 100%;
    width: 100%;
    background-size: 80%;
    color:rgb(54, 30, 30);
    font-weight: bolder;
}
#authentication_part{
    color:blanchedalmond;
    font-size: large;
}
.login-signup-background{
    height: 100%;
    width: auto;
    background-size:cover;
}
#form-title{
    color: rgb(240, 230, 230);
}
.my-nav{
    background-color: rgb(31, 31, 32);
}
.my-nav .navbar-brand{
    font-size: 21px;
    font-weight: bold;
}
.my-nav .navbar-brand:hover{
    color:  rgb(255, 255, 255);
}

.my-nav .nav-link{
    color: white;
    font-size: 18px;
    font-variant: small-caps;
    
}
.my-nav .nav-link:hover{
    color:rgb(242, 246, 248) ;
}

#file1{
    margin-top: 100px;
    background-color:rgb(92, 184, 92);
    border: 2px solid white;
    border-radius: 30px;
    padding: 8px;
    color: white;
    font-size: large;
    margin: auto;
    width: 18vw;
    margin-left: 9px;
}
#send-btn{
    padding : 10px 15px ;
    font-size: large;
}
.encdec{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.enc{
    margin-top: 100px;
    font-size: xx-large;
    padding-left: 170px;
}
.dec a{
    border-radius: 30px;
    border: 2px solid #73AD21;
    padding: 10px;
    width: 180px;
    height: 120px; 
   }
.dec{
    margin-top: 200px;
    font-size:xx-large;
    border: 2px snow; 
    font-display: white;
    padding-right: 170px;
}
.choosects input{
    background-color: rgb(92, 85, 81);
}
.choosects a{
    background-color: rgb(92, 85, 81);
}
#sel1{
    width:140px;
    margin-left: initial;
}
#brand, .greet{
    color: aqua;
}
#send-btn,#dec-btn{
    float: left;
    margin-top: 7px;
}
.enc-form{
    margin-top: 25px;
    margin-left: 33%;
}
.d-flex justify-content-center links{
    color: honeydew;
}
.message{
    text-align: center;
    padding-top: 2vh;
}